.game {
  width: 720px;
  height: 400px;
  gap: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-info {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-weight: bold;
  }
}

.historyList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  .historyBtn {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
  }
  .historyBtn:hover {
    background-color: #999;
    transition-duration: 500ms;
    color: white;
  }
}
